
<mat-toolbar color="primary">
  <span>Menu reservation: use keyboard numbers for navigate</span>
</mat-toolbar>
<button mat-button [matMenuTriggerFor]="america" #americamenu="matMenuTrigger" color="primary">1. America</button>

<mat-menu #america="matMenu" color="primary">
  <button mat-menu-item [matMenuTriggerFor]="guatemala">1.1 Guatemala</button>
  <button mat-menu-item [matMenuTriggerFor]="brazil">1.2 Brazil</button>
</mat-menu>

<mat-menu #guatemala="matMenu">
  <a mat-menu-item >1.1.1 Hotel Guatemala 1</a>
  <a mat-menu-item >1.1.2 Hotel Guatemala 2</a>
</mat-menu>

<mat-menu #brazil="matMenu">
  <a mat-menu-item >1.2.1 Hotel Brazil 1</a>
  <a mat-menu-item >1.2.1 Hotel Brazil 2</a>
</mat-menu>

<button mat-button [matMenuTriggerFor]="europa" #europamenu="matMenuTrigger" color="primary">2. Europa</button>

<mat-menu #europa="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="inglaterra">1.1 Inglaterra</button>
  <button mat-menu-item [matMenuTriggerFor]="francia">1.2 Francia</button>
</mat-menu>

<mat-menu #inglaterra="matMenu">
  <a mat-menu-item >2.1.1 Hotel Inglaterra 1</a>
  <a mat-menu-item >2.1.2 Hotel Inglaterra 2</a>
</mat-menu>

<mat-menu #francia="matMenu">
  <a mat-menu-item >2.2.1 Hotel Francia 1</a>
  <a mat-menu-item >2.2.2 Hotel Francia 2</a>
</mat-menu>